.globalData{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.countryData{
    display: flex;
    flex-wrap: wrap;
    margin-top: 140px;
}

#head{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 999999;
}


@media only screen and (max-width: 1200px){
    .globalData{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .countryData{
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
    }

}
